# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
*.xml

# Visual Studio 2015 cache/options directory
.vs/

# VSCode
.vscode

#macOS
.DS_Store

#zip
*.zip

# The packages folder
**/packed/archive
**/packed/r6
**/packed/mods/cbp77-mod-1-redkit/archives
